body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    45deg,
    rgba(157, 174, 189, 0.623),
    rgb(250, 201, 209)
  );
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 4rem;
  margin: 1rem 5%;
}

.container-left {
  flex-grow: 45%;
  padding: 4%;
  height: auto;
}
.btn {
  width: 45%;
  margin-top: 1rem;
  padding: 4%;
  box-sizing: border-box;
  border-radius: 5px;
  height: auto;
  background: linear-gradient(
    45deg,
    rgba(41, 134, 216, 0.623),
    rgb(248, 131, 151)
  );
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 1s ease-in;
}
.btn:hover {
  transform: scale(1.1);
  background: linear-gradient(
    45deg,
    rgba(117, 78, 45, 0.623),
    rgb(49, 78, 173)
  );
}
.btn a {
  text-decoration: none;
  text-align: center;
  font-size: 1.3vw;
  color: white;
  font-weight: 900;
}
.container-left h1 {
  font-weight: 900;
  color: rgb(3, 170, 3);
  letter-spacing: 5px;
}
.container-left h3 {
  font-weight: 400;
  font-size: 1.1rem;
}
.container-right {
  display: flex;
  flex-grow: 45%;
  padding: 4%;
  align-items: center;

  position: relative;
}

.svg {
  position: relative;
  z-index: -1;
}

.camera {
  width: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  position: absolute;
  z-index: 100;
}

.brand-container {
  margin: 2rem 5%;
}
.brand-container span {
  display: block;
  border: 1px solid #aaa2a2cc;
  width: 100%;
  box-shadow: 2px 2px 2px #aaa2a2cc;
}
.all-brand {
  margin: 1rem 2%;
  padding: 1% 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 5px;
}

.popular-collectin {
  margin: 2rem 6%;
}

.collection-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection-title h3 {
  margin: 0;
  margin-bottom: 5px;
  font-family: cursive;
  font-size: 3rem;
  color: white;
  text-align: center;

  letter-spacing: 3px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.all-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding: 8px;
}
.colltection-item {
  max-width: 18.8rem;
  padding: 1%;
  flex-grow: 30%;
  margin-bottom: 5px;
  border: 1px solid red;
  border-radius: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.colltection-item img {
  max-width: 100%;
}
.colltection-item h1,
h3,
p {
  margin: 0;
  width: 100%;
}
.paragraph-text {
  width: 100%;
}
.link-sec {
  margin: 0 5% 2rem;
  float: right;
}
.see-more a {
  text-decoration: none;
  font-weight: 900;
}
.feedbacks {
  width: 100%;
  background-color: rgba(231, 240, 245, 0.8);
  align-items: stretch;
  text-align: center;
  justify-content: space-around;
}

.feed-text {
  padding: 2rem;
  line-height: 1.8rem;
}

.email-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #8fb68fc5;
}

.email-me input {
  padding: 0.8rem;
  width: 50%;
  box-sizing: border-box;
  outline: none;
  border: none;
  margin-bottom: 1rem;
  background-color: lightgray;
}

.subscribe {
  padding: 0.8rem;
  width: 30%;
  border-radius: 10px;
  color: white;
  border: none;
  text-decoration: none;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-gap-override: 2rem;
}

@media only screen and (min-width: 360px) and (max-width: 1080px) {
  .container {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }
  .btn {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .btn a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 900;
  }
  .all-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .colltection-item {
    width: 100%;
  }
  .all-brand {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
}
